@PART[EDB-XB70Body]:FOR[RealismOverhaul]
{
	%RSSROConfig = True
	
	!MODEL{}
	MODEL
	{
		model = EDBMods/Parts/XB-70/XB-70Body
		scale = 1,1,1
	}
	@scale = 1.0
	
	@mass = 46.753
	
	!RESOURCE[ElectricCharge]{}
	
	@MODULE[ModuleResourceIntake]
	{
		@name = AJEInlet
		%Area = 6.0
		#@AJE_TPR_CURVE_DEFAULTS/AdjustableSupersonic/TPRCurve {}

		inletTitle = #$@AJE_TPR_CURVE_DEFAULTS/AdjustableSupersonic/title$
		inletDescription = #$@AJE_TPR_CURVE_DEFAULTS/AdjustableSupersonic/description$
	}
	
	MODULE
	{
		name = ModuleFuelTanks
		basemass = -1
		volume = 1850
		type = ServiceModule
		
		TANK
		{
			name = ElectricCharge
			amount = 36000.0
			maxAmount = 36000.0
		}
		TANK
		{
			name = Food
			amount = 330.0
			maxAmount = 330.0
		}
		TANK
		{
			name = Water
			amount = 220.0
			maxAmount = 220.0
		}
		TANK
		{
			name = Oxygen
			amount = 33332.0
			maxAmount = 33332.0
		}
		TANK
		{
			name = CarbonDioxide
			amount = 0
			maxAmount = 28780.0
		}
		TANK
		{
			name = Nitrogen
			amount = 270.0
			maxAmount = 270.0
		}
		TANK
		{
			name = Waste
			amount = 0
			maxAmount = 30.0
		}
		TANK
		{
			name = WasteWater
			amount = 0
			maxAmount = 116.2
		}
		
	}
	
}

@PART[EDB-XB70HSL]:FOR[RealismOverhaul]
{
	%RSSROConfig = True
	
	!MODEL{}
	MODEL
	{
		model = EDBMods/Parts/XB-70/XB-70HSL
		scale = 1,1,1
	}
	@scale = 1.0
	
	@mass = 0.645
	
	// @module = Part
	// @maximum_drag = 0
	// @minimum_drag = 0
	// @angularDrag = 0
	// @dragCoeff = 0
	// @deflectionLiftCoeff = 0
	// @ctrlSurfaceRange = 0
	// @ctrlSurfaceArea = 0
	
	// !MODULE[ModuleLiftingSurface] {}
	// MODULE
	// {
		// name = FARWingAerodynamicModel
		// MAC = 2.2
		// MidChordSweep = 20.0
		// b_2 = 3.1
		// TaperRatio = 0.5
		// nonSideAttach = 0 
	// }
	
}

@PART[EDB-XB70HSR]:FOR[RealismOverhaul]
{
	%RSSROConfig = True
	
	!MODEL{}
	MODEL
	{
		model = EDBMods/Parts/XB-70/XB-70HSR
		scale = 1,1,1
	}
	@scale = 1.0
	
	@mass = 0.645
	
	// @module = Part
	// @maximum_drag = 0
	// @minimum_drag = 0
	// @angularDrag = 0
	// @dragCoeff = 0
	// @deflectionLiftCoeff = 0
	// @ctrlSurfaceRange = 0
	// @ctrlSurfaceArea = 0
	
	// !MODULE[ModuleLiftingSurface] {}
	// MODULE
	// {
		// name = FARWingAerodynamicModel
		// MAC = 2.2
		// MidChordSweep = 20.0
		// b_2 = 3.1
		// TaperRatio = 0.5
		// nonSideAttach = 0 
	// }
	
}

@PART[EDB-XB70VS]:FOR[RealismOverhaul]
{
	%RSSROConfig = True
	
	!MODEL{}
	MODEL
	{
		model = EDBMods/Parts/XB-70/XB-70VS
		scale = 1,1,1
	}
	@scale = 1.0
	
	@mass = 1.443
	
	// @module = Part
	// @maximum_drag = 0
	// @minimum_drag = 0
	// @angularDrag = 0
	// @dragCoeff = 0
	// @deflectionLiftCoeff = 0
	// @ctrlSurfaceRange = 0
	// @ctrlSurfaceArea = 0
	
	// !MODULE[ModuleLiftingSurface] {}
	// MODULE
	// {
		// name = FARWingAerodynamicModel
		// MAC = 2.9
		// MidChordSweep = 30.0
		// b_2 = 4.6
		// TaperRatio = 0.35
		// nonSideAttach = 0 
	// }
	
}

@PART[EDB-XB70WingL]:FOR[RealismOverhaul]
{
	%RSSROConfig = True
	
	!MODEL{}
	MODEL
	{
		model = EDBMods/Parts/XB-70/XB-70WingL
		scale = 1,1,1
	}
	@scale = 1.0
	
	@mass = 22.51
	
	@CoMOffset = 0, 0, 0
	@CoLOffset = 0, 4.0, 0
	
	!RESOURCE[LiquidFuel]{}
	
	MODULE
	{
		name = ModuleFuelTanks
		basemass = -1
		volume = 88475
		type = Fuselage
		
		TANK
		{
			name = Kerosene
			amount = 88475.0
			maxAmount = 88475.0
		}
		
	}
	
	// @module = Part
	// @maximum_drag = 0
	// @minimum_drag = 0
	// @angularDrag = 0
	// @dragCoeff = 0
	// @deflectionLiftCoeff = 0
	// @ctrlSurfaceRange = 0
	// @ctrlSurfaceArea = 0
	
	// !MODULE[ModuleLiftingSurface] {}
	// MODULE
	// {
		// name = FARWingAerodynamicModel
		// MAC = 16.5
		// MidChordSweep = 55.0
		// b_2 = 16.0
		// TaperRatio = 0.1
		// nonSideAttach = 0 
		// rootMidChordOffsetFromOrig = 0.0, 4.0, 0
	// }
	
}

@PART[EDB-XB70WingR]:FOR[RealismOverhaul]
{
	%RSSROConfig = True
	
	!MODEL{}
	MODEL
	{
		model = EDBMods/Parts/XB-70/XB-70WingR
		scale = 1,1,1
	}
	@scale = 1.0
	
	@mass = 22.51
	
	@CoMOffset = 0, 0, 0
	@CoLOffset = 0, 4.0, 0

	
	!RESOURCE[LiquidFuel]{}
	
	MODULE
	{
		name = ModuleFuelTanks
		basemass = -1
		volume = 88475
		type = Fuselage
		
		TANK
		{
			name = Kerosene
			amount = 88475.0
			maxAmount = 88475.0
		}
		
	}
	
	// @module = Part
	// @maximum_drag = 0
	// @minimum_drag = 0
	// @angularDrag = 0
	// @dragCoeff = 0
	// @deflectionLiftCoeff = 0
	// @ctrlSurfaceRange = 0
	// @ctrlSurfaceArea = 0
	
	// !MODULE[ModuleLiftingSurface] {}
	// MODULE
	// {
		// name = FARWingAerodynamicModel
		// MAC = 16.5
		// MidChordSweep = 55.0
		// b_2 = 16.0
		// TaperRatio = 0.1
		// nonSideAttach = 0 
		// rootMidChordOffsetFromOrig = 0.0, 4.0, 0
	// }
}